# Ignore .vscode folder
/.vscode/

# Ignore the folder with models
/models/

# Ignore the original dictionary because it is too large and 
# the file itself is not expected to change
*.txt

# Ignore .pyc files as well as the list-of-tuples and 
# list-of-lists version of the dictionary
*.pyc
data.py
tuples_data.py